<% var player; var scoreResult; var game; var judge; var judge_name; var data; var game_name; var kokutai; %>
    <!DOCTYPE html>
    <html lang="ja">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <meta name="apple-mobile-web-app-capable" content="yes"> -->

        <title>AcARG審判用</title>
        <link rel="manifest" href="/public/manifest.json" crossorigin="use-credentials">
        <link rel="stylesheet" href="/public/bootstrap-5.2.2-dist/css/bootstrap.css">
        <%- include('../share/stylesheet.ejs') %>
            <script type="text/javascript" src="/public/bootstrap-5.2.2-dist/js/bootstrap.bundle.js"></script>
            <script src="/socket.io/socket.io.js"></script>
            <script type="text/javascript" src="/node_modules/jquery/dist/jquery.min.js"></script>
            <style>
                .check-score {
                    height: fit-content;
                    font-size: 1.3em;
                    background-color: #ced4da;
                    text-align: right;
                    width: 70%;
                }
            </style>
    </head>

    <body>
        <%- include("../share/judge_navber.ejs"); %>
            <div class="container-fluid">
                <div class="row">
                    <main class="col-md-12 ms-sm-auto col-lg-12 col-xl-12 px-md-2">
                        <div class="low mb-3">
                            <div class="card fontBK col-5 mt-2 text-center 	position-absolute top-50 start-50 translate-middle"
                                id="set-card">
                                <div class="card-header">
                                    <h5>大会選択</h5>
                                </div>
                                <form action="" method="post" id="set-form" name="setform">
                                    <div class="card-body">
                                        <div class="container">
                                            <p>大会名</p>
                                            <div class="px-2 text-center">
                                                日付を選択してください
                                                <br>
                                                <input type="date" id="game-date" class="form-control form-control-sm"
                                                    style="height: auto;" name="game_date" value="">
                                            </div>
                                            <div id="game" class="px-2 mt-1"></div>
                                            <div class="mt-2 px-2">
                                                <select class="form-select " aria-label="" onchange="judgeSelect();"
                                                    id="judge_select">
                                                    <option selected>審判種別</option>
                                                    <option value="1">審判長</option>
                                                    <option value="2">セクレタリー</option>
                                                    <option value="3">E審判</option>
                                                    <option value="5">D審判</option>
                                                    <option value="6">計時</option>
                                                    <option value="7">線審</option>
                                                    <option value="8">進行</option>
                                                </select>
                                            </div>
                                            <div id="judge_check" class="mt-2"></div>
                                            <div id="select-kind" class="mt-2"></div>
                                            <div id="category" class="px-2 mt-1"></div>
                                        </div>
                                    </div>
                                    <div class="card-footer text-center">
                                        <button type="submit" class="btn btn-primary">設定する</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </main>
                </div>
            </div>
            <script>
                const obj = (x) => document.getElementById(x)
            </script>
            <script src="/public/javascripts/function/judgeFunc/judge_set.js"></script>
            <script src="/public/javascripts/function/judgeFunc/judge_name.js"></script>
            <script src="/public/javascripts/function/scoreFunc/score_ajax.js"></script>
    </body>

    </html>