<% var player; var playerScore; var player_id; var kind_num; %>
    <!DOCTYPE html>
    <html lang="ja">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>審判管理</title>
        <link rel="stylesheet" href="/public/bootstrap-5.2.2-dist/css/bootstrap.css">
        <%- include('../share/stylesheet.ejs') %>
            <script src="/public/bootstrap-5.2.2-dist/js/bootstrap.bundle.js"></script>
            <script src="/socket.io/socket.io.js"></script>

    </head>

    <body>
        <%- include("../share/navber.ejs"); %>
            <div class="container-fluid">
                <div class="row">
                    <%- include("../share/sideber.ejs") %>
                        <main class=" ms-sm-auto col-xl-10 col-lg-12 col-md-12 col-xs-12">

                            <div class="card mt-1 mb-1 fontBK check-sheet px-0">
                                <div class="card-header" style="margin-right: 0;">
                                    <input type="hidden" name="" id="game_id" value="<%= game_id %>">
                                    <span class="fw-bold">審判人数変更（初期値では全審判員参加）</span>

                                    <div class="col-12 mt-2" id="categoryfield"></div>
                                </div>
                                <div class="card-body pt-2">
                                    <table class="table ">
                                        <thead>
                                            <tr>
                                                <th scope="col" style="width: 20%;">主審</th>
                                                <th scope="col" style="width: 20%;">1</th>
                                                <th scope="col" style="width: 20%;">2</th>
                                                <th scope="col" style="width: 20%;">3</th>
                                                <th scope="col" style="width: 20%;">4</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><label for="d_top">D主審</label>
                                                    <div class="text-center">
                                                        <input type="checkbox" class="form-check-input ms-3 judge-check"
                                                            name="d_top" id="d_top" value="1">
                                                    </div>
                                                </td>
                                                <td><label for="d1">D1</label>
                                                    <div class="text-center">
                                                        <input type="checkbox" class="form-check-input ms-3 judge-check"
                                                            name="d1" id="d1" value="1">
                                                    </div>
                                                </td>
                                                <td><label for="d2">D2</label>
                                                    <div class="text-center">
                                                        <input type="checkbox" class="form-check-input ms-3 judge-check"
                                                            name="d2" id="d2" value="1">
                                                    </div>
                                                </td>
                                                <td><label for="d3">D3</label>
                                                    <div class="text-center">
                                                        <input type="checkbox" class="form-check-input ms-3 judge-check"
                                                            name="d3" id="d3" value="1">
                                                    </div>
                                                </td>
                                                <td><label for="d4">D4</label>
                                                    <div class="text-center">
                                                        <input type="checkbox" class="form-check-input ms-3 judge-check"
                                                            name="d4" id="d4" value="1">
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><label for="e_top">E主審</label>
                                                    <div class="text-center">
                                                        <input type="checkbox" class="form-check-input ms-3 judge-check"
                                                            name="e_top" id="e_top" value="1">
                                                    </div>
                                                </td>
                                                <td><label for="e1">E1</label>
                                                    <div class="text-center">
                                                        <input type="checkbox" class="form-check-input ms-3 judge-check"
                                                            name="e1" id="e1" value="1">
                                                    </div>
                                                </td>
                                                <td><label for="e2">E2</label>
                                                    <div class="text-center">
                                                        <input type="checkbox" class="form-check-input ms-3 judge-check"
                                                            name="e2" id="e2" value="1">
                                                    </div>
                                                </td>
                                                <td><label for="e3">E3</label>
                                                    <div class="text-center">
                                                        <input type="checkbox" class="form-check-input ms-3 judge-check"
                                                            name="e3" id="e3" value="1">
                                                    </div>
                                                </td>
                                                <td><label for="e4">E4</label>
                                                    <div class="text-center">
                                                        <input type="checkbox" class="form-check-input ms-3 judge-check"
                                                            name="e4" id="e4" value="1">
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><label for="top">審判長</label>
                                                    <div class="text-center">
                                                        <input type="checkbox" class="form-check-input ms-3 judge-check"
                                                            name="top" id="top" value="1">
                                                    </div>
                                                </td>
                                                <td><label for="line1">line1</label>
                                                    <div class="text-center">
                                                        <input type="checkbox" class="form-check-input ms-3 judge-check"
                                                            name="line1" id="line1" value="1">
                                                    </div>
                                                </td>
                                                <td><label for="line2">line2</label>
                                                    <div class="text-center">
                                                        <input type="checkbox" class="form-check-input ms-3 judge-check"
                                                            name="line2" id="line2" value="1">
                                                    </div>
                                                </td>
                                                <td><label for="time">time</label>
                                                    <div class="text-center">
                                                        <input type="checkbox" class="form-check-input ms-3 judge-check"
                                                            name="time" id="time" value="1">
                                                    </div>
                                                </td>
                                                <td>

                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    D審判人数:
                                                    <br><span class="ms-5" id="d_num"></span>人

                                                </td>
                                                <td>
                                                    E審判人数:
                                                    <br><span class="ms-5" id="e_num"></span>人
                                                </td>
                                                <td>
                                                </td>
                                                <td>
                                                </td>
                                                <td>

                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </main>
                </div>
            </div>
            <script src="/node_modules/jquery/dist/jquery.min.js"></script>
            <script>
                const obj = (x) => document.getElementById(x);
                const game_id = obj('game_id').value
                const gameroom = 'game' + game_id;
                const categoryfield = obj('categoryfield');
            </script>
            <script src="/public/javascripts/function/judgeFunc/judge_change.js"></script>
    </body>

    </html>