<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        TVスタイル変更
    </title>
    <link rel="stylesheet" href="/public/bootstrap-5.2.2-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/public/stylesheets/secretary.css">
    <script src="/public/bootstrap-5.2.2-dist/js/bootstrap.bundle.js"></script>
</head>

<body>
    <%- include('../share/navber.ejs'); %>

        <script src="/node_modules/jquery/dist/jquery.min.js"></script>
</body>

</html>