<header class="sticky-top">
    <nav class="navbar navbar-expand-xl navbar-light" style="background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);">
        <div class="container-fluid">

            <div>
                <a class="navbar-brand" href="/"><img src="/public/acarogo.png" alt="" style="width: 50px;"></a>
            </div>
            <div class="text-left">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar" aria-controls="navbarBasic" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" ></span></button>
            </div>
        </div>
    </nav>
</header>