<nav id="sidebar" class="col-md-2 col-lg-2 d-xl-block sidebar collapse">
    <div class="position-sticky pt-md-2 container">
        <ul class="nav flex-column">
            <!-- <div id="category" class="px-2 mb-1"></div>
            <input type="hidden" name="" id="player-category" value=""> -->
            <li class="nav-item">
                <a href="/">ホーム</a>
            </li>
            <li class="nav-item">
                <a href="/score"target="_blank">審判画面</a>
            </li>
            <li class="nav-item">
                <a href="/tv"target="_blank">TV選択画面</a>
            </li>
        </ul>
    </div>
</nav>