<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>選手名表示</title>
    <link rel="stylesheet" href="/public/bootstrap-5.2.2-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/public/stylesheets/tv.css">
    <link rel="stylesheet" href="/public/stylesheets/next_tv.css">

    <script type="text/javascript" src="/public/bootstrap-5.2.2-dist/js/bootstrap.bundle.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</head>

<body>
    <input type="hidden" id="game" value="<%= game %>">
    <div class="count-down start-count-back" id="count-down">
        <p id="timer"></p>
    </div>
    <div class="top-nav p-0" id="topNav">
        <div class="row" style="margin-right: 0;height: 250px;">
            <div class="icon-img d-flex align-items-center justify-content-center col-3 ms-2"
                style="margin-right: 20px;" id="iconImg">
            </div>
            <div class="display-top col-6 d-flex align-items-center justify-content-end"
                style="height: 250px; display: table-cell; vertical-align: middle;" id="topBrand"></div>
            <div class="time-space col-3 text-center ms-5 align-items-center"
                style="background-color: darkgreen; width: fit-content; height: 250px;" id="time"></div>
        </div>
    </div>
    <div class="tv-wrap m-0" id="tv-wrap" style="padding-right: 20px;padding-left: 10px;">
        <div class="shadow-text" id="name-wrap">
            <div class="row m-0 category-row" id="category-space">
                <p><span id="category-name"></span><span class="ms-5" id="age"></span></p>
            </div>
            <div class="bib-space">
                <span class="bib" id="bib"></span>
            </div>
            <div class="row m-0 team-space" id="team-space">
                <p class="col-12">
                    <span id="team-name" style="white-space: nowrap;"></span>
                </p>
            </div>
            <div class="row m-0 name-row text-center" id="name-space">
                <p class="col-12">
                    <span id="name" style="white-space: nowrap;"></span>
                </p>
            </div>
        </div>
    </div>
    <div id="zero-body"></div>
    <div id="center"></div>

    <!--script-->
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script>
        const obj = (x) => document.getElementById(x);
        const game_id = obj('game').value;
        const gameroom = 'game' + game_id;
        // 親要素
        const nameSpace = obj("name-space");
        const teamSpace = obj('team-space');
        const categorySpace = obj('category-space');
        // 子要素
        const teamName = obj('team-name');
        const nameArea = obj('name');
        const categoryname = obj('category-name')
        const age = obj('age')

        // 
        const topBrand = obj('topBrand');
        const bib = obj('bib');
        const topNav = obj('topNav');
        const iconImg = obj('iconImg');

        const center = obj('center');
        const body = document.body;
    </script>
    <script src="/public/javascripts/function/socket_top.js"></script>
    <script src="/public/javascripts/function/tvFunc/tv_name_socket.js"></script>
    <script src="/public/javascripts/function/tvFunc/tv_name_function.js"></script>
    <script>
        //入室
        (function () {
            center.innerHTML = '<div class="center-item eigo" ><p id="game-name">AcA<span class="my-1 size-10em m-left100"></span><br><span class="m-left200"></span>system.</p></div>';
            body.style.backgroundImage = ' linear-gradient(151deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%)';
            $('#topNav').fadeOut();
            $('#tv-wrap').fadeOut();
            $('#count-down').hide();
        }());
    </script>
</body>

</html>