<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>得点表示</title>
    <link rel="stylesheet" href="/public/bootstrap-5.2.2-dist/css/bootstrap.css">
    <%- //include('../share/stylesheet.ejs') %>
        <link rel="stylesheet" href="/public/stylesheets/tv.css">
        <script type="text/javascript" src="/public/bootstrap-5.2.2-dist/js/bootstrap.bundle.js"></script>
        <script src="/socket.io/socket.io.js"></script>

</head>

<body>
    <input type="hidden" id="game" value="<%= game %>">
    <input type="hidden" id="num" value="<%= num %>">
    <input type="hidden" id="tvset" value="">
    <input type="hidden" id="kind1" value="">
    <input type="hidden" id="kind2" value="">
    <input type="hidden" id="kind3" value="">
    <input type="hidden" id="kind4" value="">
    <input type="hidden" id="kind5" value="">

    <div class=" p-0" id="topNav" style="height: 80px;">
        <div class="row" style="margin-right: 20px;">
            <div class="icon-img col-6 ms-2" style="background-color: rgba(0,0,0,0);">
                <div class="col-2" id="iconImg"></div>
            </div>
        </div>
    </div>
    <div class="tv-wrap m-0" id="tv-wrap">
        <div class="name-wrap shadow-text" id="name-wrap">
            <div class="row m-0" style="height: 330px;">
                <div class="box col-4 text-center" id="bib"></div>
                <div class="d-flex align-items-center col-7 team-name ms-10 text-right" id="team-name"
                    style="height: 330px;width: 70%;"></div>
            </div>
            <div class="display-name col-12 text-center" id="display-name" style="height: 500px;width: auto;"></div>
        </div>
    </div>
    <div id="zero-body"></div>
    <div class="tv-wrap" id="score-body" style="padding-right: 10px;padding-left: 10px;">
        <div class="row m-0" style="line-height: 180px;padding-left: 320px;">
            <div class="col-12 m-0 text-center team-name" id="name-space"
                style=" vertical-align: -110px; font-size: 15em;">
                <span id="name" style="white-space: nowrap;"></span>
            </div>
        </div>
        <div class="row mx-0 mb-5 p-0" style="line-height: 180px;margin-top: 100px;">
            <div class="col-2 me-5"><span class="text-center " id="bib-second"></span></div>
            <div class="col-9 text-end shadow-text" style="height: fit-content;">
                <span class="big-score me-4" id="result" style="vertical-align: -70px;"></span>
            </div>
        </div>
        <div class="row mx-0 text-end pe-3" style="line-height: 140px;margin-top: 3rem;margin-bottom: 0;">
            <div class="col-4 text-end">
                <span class="score-label">構成D</span>
            </div>
            <div class="col-4 text-end">
                <span class="score-label">実施E</span>
            </div>
            <div class="col-4 text-end pe-5">
                <span class="score-label">減点</span>
            </div>
        </div>
        <div class="row m-0 text-end pe-3" style="line-height: 140px;">
            <div class="col-4">
                <span id="DS" class="score"></span>
            </div>
            <div class="col-4">
                <span id="ES" class="score"></span>
            </div>
            <div class="col-4 pe-5">
                <span class="score" id="ded"></span>
            </div>
        </div>
    </div>
    <div id="center"></div>

    <!--script-->
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script>
        const obj = (x) => document.getElementById(x);
        const game_id = obj('game').value;
        const gameroom = 'game' + game_id;
        const num = obj('num').value;
    </script>
    <script src="/public/javascripts/function/socket_top.js"></script>
    <script src="/public/javascripts/function/tvFunc/tv_socket.js"></script>
    <script src="/public/javascripts/function/tvFunc/tv_score_function.js"></script>
</body>

</html>