<% var games; %>
    <!DOCTYPE html>
    <html lang="ja">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>選手登録</title>
        <link rel="stylesheet" href="/public/bootstrap-5.2.2-dist/css/bootstrap.css">
        <%- include('../share/stylesheet.ejs') %>
            <script type="text/javascript" src="/public/bootstrap-5.2.2-dist/js/bootstrap.bundle.js"></script>
    </head>

    <body>
        <%- include("../share/navber.ejs"); %>
            <div class="container-fluid">
                <div class="row">
                    <%- include("../share/sideber.ejs") %>
                        <main class="col-md-10 ms-sm-auto col-lg-10 px-md-2">
                            <div class="row mb-3 me-0">
                                <div
                                    class="card fontBK col-5 mt-2 text-center 	position-absolute top-50 start-50 translate-middle">
                                    <div class="card-header">
                                        <h5>選手登録</h5>
                                        <div class="text-center">※CSVファイルのみ</div>
                                    </div>
                                    <form action="/entry" method="post" enctype="multipart/form-data">
                                        <div class="card-body">
                                            <div class="px-2">
                                                <input type="date" id="game-date" class="form-control form-control-sm"
                                                    name="game_date">
                                            </div>
                                            <div id="game" class="px-2 mt-1"></div>

                                            <div class="mb-3 px-2">
                                                <label for="formFileSm" class="form-label">CSV</label>
                                                <input class="form-control form-control-sm" id="formFileSm" type="file"
                                                    name="file">
                                            </div>
                                        </div>

                                        <div class="card-footer text-center">
                                            <button type="submit" class="btn btn-primary">登録する</button>
                                        </div>
                                    </form>
                                    <div class="px-4 my-2">
                                        <form action="/download" method="post">
                                            <input type="hidden" name="filename" value="player_entry">
                                            <button class="btn btn-outline-secondary"
                                                id="download-btn">設定ファイルダウンロード</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </main>
                </div>
                <script src="/node_modules/jquery/dist/jquery.min.js"></script>
                <script src="/public/javascripts/function/game_get.js"></script>
    </body>

    </html>